* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    background: linear-gradient(135deg, #667eea, #764ba2);
}

/* Card */
.card {
    width: 350px;
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    background: rgba(255,255,255,0.1);
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

/* Tabs */
.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tabs button {
    flex: 1;
    padding: 10px;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.tabs .active {
    border-color: white;
}

/* Form */
.form {
    display: none;
}

.form.active {
    display: block;
}

/* Input */
.input-box {
    position: relative;
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: #c2b0d5;
}

.input-box label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
    font-size: 14px;
    pointer-events: none;
    transition: 0.3s ease;
    background-color: transparent;  
}


.input-box.active label {
    top: -12px;
    left: 8px;
    font-size: 11px;
    color: #fff;
    background: rgba(0,0,0,0.3);
    padding: 0 5px;
    border-radius: 4px;
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: rgb(76, 76, 190);
    color: #333;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    background-color: #5d427a;
    letter-spacing: 1px;

}

/* Error */
.error {
    color: #ff6b6b;
    font-size: 14px;
}